html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

header {
	height: 15%;
	width: 100%;
	background-color: #454545;
}

.rest {
	height: 85%;
	width:1 00%;
}

.sidebar {
	height:100%;
	width: 15%;
	background-color: #D8D8D8;
	float: left;
}

.center {
	height: 100%;
	width: 70%;
	float: left;
	margin: auto;
}

.content {
	height: 90%;
	width: 100%;
	background-color: #EFEFEF;
}

footer {
	height: 10%;
	width: 100%;
	background-color: #232323;
}